<h1>Listing authors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Picture</th>
    <th>Nro of assets</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @authors.each do |author| %>
  <tr>
    <td><%= author.name %></td>
    <td><%= author.picture %></td>
    <td><%= author.assets.count %></td>
    <td><%= link_to 'Show', author %></td>
    <td><%= link_to image_tag('edit-user-icon.png', :width => 16), edit_author_path(author) %></td>
    <td><%= link_to image_tag('remove-user-icon.png', :width => 16), author, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to image_tag('add-user-icon.png', :width => 16) << 'New Author', new_author_path %>
