<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @author.name %>
</p>

<p>
  <b>Picture:</b>
  <%= @author.picture %>
</p>

<p>
<b>Author of <%= @author.assets.count %> assets:</b>
<ol>
    <% @author.assets.each do |a| %>
        <li><%= link_to a.title, a %></li>
    <% end %>
</ol>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
