<%= form_for(@asset, :html => {:multipart => true} ) do |f| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :visability %><br />
    <%= f.select :visability, @visability_modes %>
  </div>
  <div class="field">
    <%= f.label :agelimit %><br />
    <%= f.select :agelimit, @agelimits %>
  </div>
  <div class="field">
    <%= f.label :agelimitreason %><br />
    <%= f.text_field :agelimitreason %>
  </div>
  <div class="field">
    <%= f.label :release %><br />
    <%= f.text_field :release, :value => Date.today %>
  </div>
  <div class="field">
    <%= f.label :show_id %><br />
    <%= f.select :show_id, @shows.collect { |s| [ s.name, s.id ]}, { :include_blank => true } %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.select :category_id, @categories.collect { |c| [ c.name, c.id ]}, { :include_blank => true } %>
  </div>
  <div class="field">
    <%= f.label :tags %>
    <%= text_field_tag :tags, params[:tags] %>
  </div>
  <% unless @asset.file.present? %>
  <div class="field">
    <%= f.label :file %><br />
    <%= f.file_field :file %>
  </div>
  <% end %>
  <div class="field">
    <% f.label :authors %><br />
    <% @authors.each do |author| %>
    <%= check_box_tag 'asset[author_ids][]', author.id, @asset.authors.include?(author) %>
    <%= author.name %><br />
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
