<h1>Listing assets</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th>Title</th>
    <th>Description</th>
    <th>File</th>
    <th>Path</th>
    <th>Show</th>
    <th>Cateogry</th>
    <th>Tags</th>
    <th>Authors</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assets.each do |asset| %>
  <tr>
    <td>
        <%= image_tag("transfer-green.png", :width => 16) if asset.visability == 0 %>
        <%= image_tag("transfer-red.png",   :width => 16) if asset.visability == 1 %>
        <%= image_tag("transfer-blue.png",  :width => 16) if asset.visability == 2 %>
    </td>
    <td>
    <%= image_tag("image-file-icon.png", :width => 16) if asset.media == Asset::IMAGE %>
    <%= image_tag("video-file-icon.png", :width => 16) if asset.media == Asset::VIDEO %>
    <%= image_tag("audio-file-icon.png", :width => 16) if asset.media == Asset::AUDIO %>
    </td>
        <td><b><%= asset.title %><b></td>
    <td><%= asset.description %></td>
    <td><%= asset.file %></td>
    <td><%= asset.path %></td>
    <td><%= asset.show.name %></td>
    <td><%= asset.category.name %></td>
    <td><%= render asset.tags %></td>
    <td><%= asset.authors.collect{|a| a.name}.to_sentence unless nil? %></td>
    <td><%= link_to 'Show', asset %></td>
    <td><%= link_to image_tag('wheel-icon.png', :width => 16), edit_asset_path(asset) %></td>
    <td><%= link_to image_tag('remove-from-database-icon.png', :width => 16), asset, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to (image_tag('add-to-database-icon.png', :width => 16) << 'New Asset'), new_asset_path %>
