<p id="notice"><%= notice %></p>

<p>
  <b>Visability:</b>
  <%= @asset.visability %>
</p>

<p>
  <b>Title:</b>
  <%= @asset.title %>
</p>

<p>
  <b>Description:</b>
  <%= @asset.description %>
</p>

<p>
  <b>Release:</b>
  <%= @asset.release %>
</p>

<p>
  <b>Media:</b>
  <%= @asset.media %>
</p>

<p>
  <b>File:</b>
  <%= @asset.file%>
</p>

<p>
  <b>Agelimit:</b>
  <%= @asset.agelimit %>
</p>

<p>
  <b>Agelimitreason:</b>
  <%= @asset.agelimitreason %>
</p>

<p>
  <b>Checksum:</b>
  <%= @asset.checksum %>
</p>

<p>
  <b>Path:</b>
  <%= @asset.path %>
</p>

<p>
  <b>Filesize:</b>
  <%= @asset.filesize %>
</p>

<p>
  <b>Width:</b>
  <%= @asset.width %>
</p>

<p>
  <b>Height:</b>
  <%= @asset.height %>
</p>

<p>
  <b>Aspect:</b>
  <%= @asset.aspect %>
</p>

<p>
  <b>Bitrate:</b>
  <%= @asset.bitrate %>
</p>

<p>
  <b>Framerate:</b>
  <%= @asset.framerate %>
</p>

<p>
  <b>Samplerate:</b>
  <%= @asset.samplerate %>
</p>

<p>
  <b>Vcodec:</b>
  <%= @asset.vcodec %>
</p>

<p>
  <b>Acodec:</b>
  <%= @asset.acodec %>
</p>

<p>
  <b>Channels:</b>
  <%= @asset.channels %>
</p>

<p>
  <b>Container:</b>
  <%= @asset.container %>
</p>

<p>
  <b>Duration:</b>
  <%= @asset.duration %>
</p>

<p>
  <b>State:</b>
  <%= @asset.state %>
</p>

<p>
  <b>Show:</b>
  <%= @asset.show.name %>
</p>

<p>
  <b>Category:</b>
  <%= @asset.category.name %>
</p>

<p>
  <b>Tags:</b>
  <%= render @asset.tags %>
</p>

<p>
  <b>Authors:</b>
  <%= @asset.authors.collect{|a| a.name}.to_sentence %>
</p>

<p>
  <b>Dlcount:</b>
  <%= @asset.dlcount %>
</p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
