<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Description:</b>
  <%= @category.description %>
</p>

<p>
  <b>Assets in this category:</b>
  <ul>
  <% @category.assets.each do |asset| %>
      <li><%= link_to asset.title, asset %>
  <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
