<h1>Listing shows</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Asset picture</th>
    <th>Nro of assets</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shows.each do |show| %>
  <tr>
    <td><%= show.name %></td>
    <td><%= show.description %></td>
    <td><%= show.asset_id %></td>
    <td><%= show.assets.count %></td>
    <td><%= link_to 'Show', show %></td>
    <td><%= link_to 'Edit', edit_show_path(show) %></td>
    <td><%= link_to 'Destroy', show, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Show', new_show_path %>
