<p id="notice"><%= notice %></p>

<p>
<b>Name:</b>
<%= @show.name %>
</p>

<p>
<b>Description:</b>
<%= @show.description %>
</p>

<p>
<b>Asset:</b>
<%= @show.asset_id %>
</p>

<p>
<b>Assets (<%= @show.assets.count %>):</b>
<ul>
<% @show.assets.each do |asset| %>
    <li><%= link_to asset.title, asset %></li>
<% end %>
</ul>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
