<!DOCTYPE html>
<html>
<head>
  <title>Aatedb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
   <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
   <%# javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js", "application" %>
   <%# javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/jquery-ui.min.js", "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div style="clear:both;">
        <%= link_to "Shows", shows_path %>
        ::
        <%= link_to "Assets", assets_path %>
        ::
        <%= link_to "Authors", authors_path %>
        ::
        <%= link_to "Caterories", categories_path %>
        ::
        <%= link_to "Tags", tags_path %>
    </div>

<%= yield %>

</body>
</html>
